<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="albumMapper">

<select id ="selectAllListCount" parameterType="hashmap" resultType="int">
	select count(*) from album 
	<if test="stitle != null and stitle !=''">
		where albumtitle like '%'||#{stitle}||'%'
	</if>
	<if test="userid != null and userid !=''">
		where userid like '%'||#{userid}||'%'
	</if>
</select>

<select id="selectList" resultType="Album" parameterType="com.c4.intepark.common.CommonPage">
	
		select *
		from (select rownum rnum, albumnum, albumtitle, albumdate, albumcontents, albumreadcount, userid
			  from (select * from album
			  			<if test="stitle != null and stitle !=''">
						where albumtitle like '%'||#{stitle}||'%'
						</if>
						<if test="userid != null and userid !=''">
						where userid like '%'||#{userid}||'%'
						</if>
                    order by albumnum desc))
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
					]]>
</select>

<select id="selectOneAlbum" resultType="Album" parameterType="int">
	select albumnum, albumtitle, albumdate, albumcontents, albumreadcount,userid
	from album
	where albumnum= #{value}
</select>


</mapper>




