<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="albumMapper">

<select id ="selectAllListCount" parameterType="CommonPage" resultType="int">
	select count(*) from album 
	<if test="selectoption != null and selectoption.equals('title')">
		where albumtitle like '%'||#{searchtext}||'%'
	</if>
	<if test="selectoption != null and selectoption.equals('uname')">
		where userid like '%'||#{searchtext}||'%'
	</if>
</select>

<select id="selectList" resultType="Album" parameterType="CommonPage">
	
		select *
		from (select rownum rnum, albumnum, albumtitle, albumdate, albumcontents, albumreadcount, userid
			  from (select * from album
			  			<if test="selectoption != null and selectoption.equals('title')">
						where albumtitle like '%'||#{searchtext}||'%'
						</if>
						<if test="selectoption != null and selectoption.equals('uname')">
						where userid like '%'||#{searchtext}||'%'
						</if>
                    order by albumnum desc))
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
					]]>
</select>

<select id="selectOneAlbum" resultType="Album" parameterType="int">
	select albumnum, albumtitle, albumdate, albumcontents, albumreadcount,userid
	from album
	where albumnum= #{value}
</select>


</mapper>




