<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionMapper">
<sql id="includeAuction">
      	<if test="keyword != null and searchType.equals('title')">
		where title like '%'||#{keyword ,jdbcType=VARCHAR}||'%'
	</if>
	<if test="keyword != null and searchType.equals('address')">
		where address like '%'||#{keyword ,jdbcType=VARCHAR}||'%'
	</if>           
    </sql>
<!-- null을 허용하려면 jdbcType=VARCHAR 추가
( date 타입일 경우 jdbcType=DATE number 타입일 경우는 jdbcType=INTEGER 설정) -->
	<select id="selectList" parameterType="Search" resultType="Auction">
    select * from( select rownum as rnum, a.*
    from (select * from auction <include refid="includeAuction"/>
     <![CDATA[
     order by auctionno desc)
    a where rownum <= #{startList} + #{listSize}
  )
   where rnum > #{startList}
   ]]>
	</select>
	
	<select id="selectAttendList" parameterType="CommonPage" resultType="AuctionAttend">
		select *
		from (select rownum rnum, auctionno, consid, consname, title, phone, possibledate, price, progress
			  from (select * from auctionattend where auctionno = #{auctionno}
			  		 <if test="searchtext != null and selectoption.equals('consname')">
		and consname like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if>
	<if test="searchtext != null and selectoption.equals('title')">
		and title like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if> 
                    )order by rnum desc)
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
					]]>
	</select>
	
	<select id="NonAuctionList" parameterType="Search" resultType="NonAuction">
    select * from( select rownum as rnum, a.*
    from (select * from nonauction <include refid="includeAuction"/>
     <![CDATA[
     order by auctionno desc)
    a where rownum <= #{startList} + #{listSize}
  )
   where rnum > #{startList}
   ]]>
	</select>
	<insert id="auctionEnroll" parameterType="Auction" >
	insert into auction values (AUCTION_SEQ.NEXTVAL, #{interiorsection}, #{title}, #{name}, 
		#{price}, #{email}, #{phone}, #{startday}, #{address},#{ofile},#{rfile}, #{etc}, default, #{userid})
	</insert>
	
	<insert id="nonAuctionEnroll" parameterType="NonAuction" >
	insert into nonauction values (AUCTION_SEQ.NEXTVAL, #{interiorsection}, #{title}, #{name}, 
		#{price}, #{email}, #{phone}, #{startday}, #{address},#{ofile},#{rfile}, #{etc},${password}, default)
	</insert>
	
		<select id="nonAuctionDetailView" parameterType="String" resultType="NonAuction">
		select * from nonauction where auctionno = #{nonauc}
	</select>
		<select id="auctionDetailView" parameterType="String" resultType="Auction">
	select * from auction where auctionno = #{auc}
	</select>
	
	<delete id="deleteAuction" parameterType="String">
	delete from auction where auctionno = #{auc}
	</delete>
	<insert id="auctionAttendEnroll" parameterType="AuctionAttend" >
	insert into auctionattend values (#{auctionno},#{consid},#{consname},#{title},#{phone},
	#{possibledate},#{price},#{ofile},#{rfile},#{etc},default ,#{panorama})
	</insert>
	<select id="auctionAttendDetail" parameterType="AuctionAttend" resultType="AuctionAttend">
select auctionno, consid, consname, title, phone, possibledate, price, ofile, rfile,etc, userid ,panorama  from auctionattend
join (select auctionno, userid from auction) using(auctionno) where auctionno = #{auctionno} and consname = #{consname}
	</select>
	<delete id="auctionAttendDelete" parameterType="AuctionAttend">
	delete from auctionattend where auctionno = #{auctionno} and consname = #{consname}
	</delete>
	
	<delete id="deleteNonAuction" parameterType="_int">
	delete from nonauction where auctionno = #{auctionno}
	</delete>
	<select id="selectAuctionCount" resultType="_int" parameterType="Search">
	 SELECT COUNT(*)
          FROM auction  <include refid="includeAuction"/>
	</select>
	  	<select id="selectNonAuctionCount" resultType="_int" parameterType="Search">
	 SELECT COUNT(*)
          FROM nonauction <include refid="includeAuction"/>
	</select>
	<update id="auctionUpdate" parameterType="Auction">
	update auction set interiorsection = #{interiorsection}, title = #{title}, name = #{name}, price = #{price},  email = #{email}, 
	phone = #{phone}, startday = #{startday}, address = #{address}, ofile = #{ofile}, rfile = #{rfile}, etc = #{etc} where auctionno = #{auctionno}
	</update>
	<update id="AuctionAttendProgress" parameterType="AuctionAttend">
	update auctionattend set progress = '진행' where auctionno = #{auctionno} and consid = #{consid}
	</update>
	<update id="AuctionProgress" parameterType="AuctionAttend">
	update auction set progress = '진행' where auctionno = #{auctionno}
	</update>
		<select id="auctionAttendListCount" resultType="_int" parameterType="CommonPage">
	 SELECT COUNT(*)
          FROM auctionAttend where auctionno = #{auctionno}   	
       <if test="searchtext != null and selectoption.equals('consname')">
		and consname like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if>
	<if test="searchtext != null and selectoption.equals('title')">
		and title like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if> 
	</select>
	<select id="AuctionProgress2" parameterType="int" resultType="Auction">
	select progress from auction where auctionno = #{auctionno}
	</select>
	<update id="NonAuctionUpdate" parameterType="NonAuction">
	update nonauction set interiorsection = #{interiorsection}, title = #{title}, name = #{name}, price = #{price},  email = #{email}, 
	phone = #{phone}, startday = #{startday}, address = #{address}, ofile = #{ofile}, rfile = #{rfile}, etc = #{etc} where auctionno = #{auctionno}
	</update>

	
	<select id="MyAuctionAttendListCount" resultType="_int" parameterType="CommonPage">
	 SELECT COUNT(*)
          FROM auctionAttend where consid = #{consid}   	
	<if test="searchtext != null and selectoption.equals('title')">
		and title like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if> 
	</select>

	
	<select id="MyAuctionAttendList" parameterType="CommonPage" resultType="AuctionAttend">
		select *
		from (select rownum rnum, auctionno, consid, consname, title, phone, possibledate, price, progress
			  from (select * from auctionattend where consid = #{consid} 
			  
	<if test="searchtext != null and selectoption.equals('title')">
		and title like '%'||#{searchtext ,jdbcType=VARCHAR}||'%'
	</if> 
                order by auctionno desc)order by rnum asc)
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
					]]>
	</select>
	<select id="selectAttendTop4" resultType="AuctionAttend">
					 select *
		from (select rownum rnum, auctionno
			  from (select auctionno, count(auctionno) from auctionattend
                group by auctionno order by count(auctionno) desc)order by rnum asc)
                 <![CDATA[         
          where rnum >= 1 and rnum <= 4
          ]]>
					
	</select>
		<select id="selectAuctionTop4" parameterType="int" resultType="Auction">
	select * from auction where auctionno = #{auctionno1}
	</select>
</mapper>







