<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auctionMapper">


	<select id="selectList" parameterType="Auction" resultType="Auction">
		select * from auction order by auctionno desc
	</select>
	
	<select id="NonAuctionList" parameterType="NonAuction" resultType="NonAuction">
		select * from nonauction order by auctionno desc
	</select>
	<insert id="auctionEnroll" parameterType="Auction" >
	insert into auction values (AUCTION_SEQ.NEXTVAL, #{interiorsection}, #{title}, #{name}, 
		#{price}, #{email}, #{phone}, #{startday}, #{address},#{ofile},#{rfile}, #{etc}, default, #{userid})
	</insert>
	
	<insert id="nonAuctionEnroll" parameterType="NonAuction" >
	insert into nonauction values (AUCTION_SEQ.NEXTVAL, #{interiorsection}, #{title}, #{name}, 
		#{price}, #{email}, #{phone}, #{startday}, #{address},#{ofile},#{rfile}, #{etc},${password}, default)
	</insert>
	
		<select id="nonAuctionDetailView" parameterType="String" resultType="NonAuction">
		select * from nonauction where auctionno = #{nonauc}
	</select>
		<select id="auctionDetailView" parameterType="String" resultType="Auction">
	select * from auction where auctionno = #{auc}
	</select>
	
	<delete id="deleteAuction" parameterType="String">
	delete from auction where auctionno = #{auc}
	</delete>
</mapper>








