<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">

<insert id="insertGoods" parameterType="Goods">
insert into goods values(
(select max(goodsnum)+1 
from goods),
#{categorynum},
#{goodsname},
#{price},
#{inventory},
#{freedlvy},
#{thumbnail},
#{comments},
#{description},
#{maximum},
#{consid},
default
)
</insert>

<select id="selectgoodsList" resultType="Goods" parameterType="GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS 
where CONSID= #{consid} order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>


<select id="selectlistCount" resultType="int" parameterType="String">
select count(*) 
from goods 
where consid= #{value}
</select>

<delete id="deleteGoods" parameterType="int">
delete from goods 
where goodsnum = #{goodsnum}
</delete>

<select id="selectGoods" parameterType="int" resultType="Goods">
select * from goods 
where goodsnum = #{value}
</select>

<update id="updateGoods" parameterType="Goods">
update goods 
set categorynum = #{categorynum}, goodsname = #{goodsname}, price = #{price},
inventory = #{inventory}, freedlvy = #{freedlvy}, thumbnail = #{thumbnail}, comments = #{comments},
description = #{description}, maximum = #{maximum}
where goodsnum = #{goodsnum}
</update>

<select id="selectsearchlistCount" resultType="int" parameterType="GoodsSearch">
select count(*) 
from goods 
where consid= #{consid} and goodsname=#{goodsname}
</select>

<select id="selectgoodsSearchList" resultType="Goods" parameterType="GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS 
where CONSID= #{consid} and goodsname like #{goodsname} order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="selectGoodsReview" resultType="GoodsReview" parameterType="GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, REVIEWDATE, 
REVIEWSCORE,USERID,REVIEWTITLE,REVIEWCN,refile,REVIEWNUM
from (select * from GoodsReview 
where GOODSNUM= #{goodsnum} order by REVIEWDATE desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="selectcategoryGoodsAllList" resultType="Goods" parameterType="Paging">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="selectshopMainGoods" resultType="Goods" parameterType="Paging">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="selectcategoryAllListCount" resultType="int">
select count(*) 
from goods 
</select>

<select id="selectgoodsReviewAllListCount"  parameterType="int" resultType="int">
select count(*) 
from GoodsReview
where goodsnum = ${value}
</select>

<select id="selectGoodsNum" resultType="int" parameterType="Goods">
select goodsnum
from goods
where categorynum = #{categorynum} and goodsname = #{goodsname} and price = #{price} and
inventory = #{inventory} and freedlvy = #{freedlvy} and thumbnail = #{thumbnail} and comments = #{comments} and
description = #{description} and maximum = #{maximum}
</select >

<insert id="insertGoodsPic" parameterType="GoodsPic">
insert into 
GOODSPIC 
values (
goodsPICnum.nextval,
#{orifile},
#{refile},
#{goodsnum}
)
</insert>

<select id="selectGoodsPic" resultType="GoodsPic" parameterType="int">
select * 
from goodspic
where goodsnum= #{value}
</select>

<select id="selectgoodsInquiryAllListCount"  parameterType="int" resultType="int">
select count(*) 
from GOODSINQUIRY
where goodsnum = ${value}
</select>

<select id="selectGoodsInquiry" resultType="GoodsInquiry" parameterType="GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, inquirycn, 
inquirytype,inquirytitle,secretat,inquirydate,answersttus,userid
from (select * from GoodsInquiry 
where GOODSNUM= #{goodsnum} order by inquirydate desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<insert id="insertGoodsInquiry" parameterType="GoodsInquiry">
insert into GOODSINQUIRY values(
(select max(INQUIRYNUM)+1 
from GOODSINQUIRY),
#{inquirycn},
#{inquirytype},
#{inquirytitle},
#{secretat},
sysdate,
default,
#{userid},
#{goodsnum}
)
</insert>

<insert id="insertGoodsReview" parameterType="GoodsReview">
insert into GoodsReview values(
#{reviewnum},
sysdate,
#{reviewcn},
#{reviewscore},
#{userid},
#{goodsnum},
#{reviewtitle},
#{refile}
)
</insert>

<select id="selectcategoryListCount" resultType="int" parameterType="int">
select count(*) 
from goods 
where categorynum = #{value}
</select>

<select id="selectcategoryGoodsList" resultType="Goods" parameterType="GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS 
where categorynum= #{goodsnum} order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<insert id="insertReviewPic">
insert into 
GOODSREVIEWPIC 
values (
goodsreviewPICnum.nextval,
null,
#{refile},
#{goodsnum}
)
</insert>

<select id="selectGoodsReviewNum" resultType="int">
select goodsreviewnum.nextval
from dual
</select>

<select id="selectGoodsReviewDetail" resultType="GoodsReview" parameterType="int">
select * from goodsreview
where reviewnum = #{reviewnum}
</select>

<select id="selectGoodsReviewDetailPic" resultType="GoodsReview" parameterType="int">
select * from goodsreviewpic
where reviewnum = #{reviewnum}
</select>




	
</mapper>




