<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">

<insert id="insertGoods" parameterType="Goods">
insert into goods values(
(select max(goodsnum)+1 
from goods),
#{categorynum},
#{goodsname},
#{price},
#{inventory},
#{freedlvy},
#{thumbnail},
#{comments},
#{description},
#{maximum},
#{consid},
default
)
</insert>

<select id="listGoods" resultType="Goods" parameterType="com.c4.intepark.shop.goods.model.vo.GoodsList">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS 
where CONSID= #{consid} order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>


<select id="listCount" resultType="int">
select count(*) 
from goods 
where consid= #{value}
</select>

<delete id="deleteGoods" parameterType="int">
delete from goods 
where goodsnum = #{goodsnum}
</delete>

<select id="selectGoods" parameterType="int" resultType="Goods">
select * from goods 
where goodsnum = #{value}
</select>

<update id="updateGoods" parameterType="Goods">
update goods 
set categorynum = #{categorynum}, goodsname = #{goodsname}, price = #{price},
inventory = #{inventory}, freedlvy = #{freedlvy}, thumbnail = #{thumbnail}, comments = #{comments},
description = #{description}, maximum = #{maximum}
where goodsnum = #{goodsnum}
</update>

<select id="goodsSearch" resultType="int" parameterType="com.c4.intepark.shop.goods.model.vo.GoodsSearch">
select count(*) 
from goods 
where consid= #{consid} and goodsname=#{goodsname}
</select>

<select id="goodsSearchList" resultType="Goods" parameterType="com.c4.intepark.shop.goods.model.vo.GoodsSearch">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS 
where CONSID= #{consid} and goodsname=#{goodsname} order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="categoryGoodsAllList" resultType="Goods" parameterType="com.c4.intepark.shop.Paging">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="shopMainGoods" resultType="Goods" parameterType="com.c4.intepark.shop.Paging">
<![CDATA[
select * 
from (select rownum rnum, GOODSNUM, 
THUMBNAIL,GOODSNAME,PRICE,INVENTORY
from (select * from GOODS order by GOODSnum desc)) 
where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

<select id="categoryAllListCount" resultType="int">
select count(*) 
from goods 
</select>





</mapper>




