<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inteuserMapper">


	<select id="selectUserSession" parameterType="String" resultType="InteUser">
		select * from inteuser where userid = #{value}
	</select>
	
	<insert id="insertLoginId" parameterType="LoginInfo">
		insert into logininfo values(#{logid},#{logpwd},#{authority},1,'정상',null,null)
	</insert>
	
	<insert id="insertUser" parameterType="InteUser">
		insert into inteuser values(#{userid}, sysdate, 
		#{username}, #{phone, javaType=String, jdbcType=VARCHAR}, 
		#{email}, #{address, javaType=String, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectIdCheck" parameterType="String" resultType="_int">
		select count(logid) from logininfo where logid = #{value}
	</select>
	
	<select id="selectEmailCheck" parameterType="String" resultType="_int">
		select count(email) from inteuser where email = #{value}
	</select>
	
	<select id="selectAllListCount" parameterType="CommonPage" resultType="_int">
		select count(*) from inteuser
		join logininfo on(logid=userid) 
		<trim prefix="WHERE" prefixOverrides="AND">
		<if test="userid != null and userid !=''">
		userid like '%'||#{userid}||'%'
		</if>
		<if test="username != null and username !=''">
		and username like '%'||#{username}||'%'
		</if>
		<if test="startdate != null and startdate !=''">
		and enrolldate between #{startdate} and to_char(to_date(#{enddate})+1)
		</if>
		<if test="memberstate != null and memberstate !=''">
		and memberstate = #{memberstate}
		</if>
		</trim>
	</select>
	
	<select id="selectAllList" parameterType="CommonPage" resultType="InteUser">
				select *
		from (select rownum rnum, userid, username, phone, email, address, memberstate, enrolldate
			  from (select * from inteuser
			  		join logininfo on(logid=userid)
			  		<trim prefix="WHERE" prefixOverrides="AND">
					<if test="userid != null and userid !=''">
					userid like '%'||#{userid}||'%'
					</if>
					<if test="username != null and username !=''">
					and username like '%'||#{username}||'%'
					</if>
					<if test="startdate != null and startdate !=''">
					and enrolldate between #{startdate} and to_char(to_date(#{enddate})+1)
					</if>
					<if test="memberstate != null and memberstate !=''">
					and memberstate = #{memberstate}
					</if>
					</trim>
                    order by enrolldate desc))
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
					]]>
	</select>
	
	<select id="selectUserDetail" parameterType="String" resultType="InteUser">
	 	select userid, enrolldate, username, phone, email, address, memberstate,withdrawdate,withdrawcause
		from inteuser 
		join logininfo on(logid=userid)
		where userid=#{value}
	</select>
	
	<update id="updateUser" parameterType="InteUser">
		update inteuser set username=#{username}, phone=#{phone}, email=#{email}, address=#{address}
		where userid=#{userid}
	</update>
	
	<select id="selectUserPwdCheck" parameterType="LoginInfo" resultType="int">
		select count(*) from logininfo where logid=#{logid} and logpwd=#{logpwd}
	</select>
	
	<update id="updateUserPwd" parameterType="LoginInfo">
		update logininfo set logpwd=#{logpwd} 
		where logid=#{logid}
	</update>
	
	<update id="updateDeleteUser" parameterType="com.c4.intepark.loginInfo.model.vo.LoginMemberState">
		update logininfo set enabled=0, memberstate='탈퇴', withdrawdate=sysdate, withdrawcause=#{withdrawcause}
		where logid=#{logid}
	</update>
	
	<select id="selectUserStopState" parameterType="string" resultType="com.c4.intepark.loginInfo.model.vo.LoginMemberState">
		select stopcause, stopstartdate, stopfinishdate, stopterm
		from loginstop
		where logid = #{value}
	</select>
	
</mapper>








