<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginInfoMapper">

<select id="selectUserById" parameterType="string" resultType="LoginInfo">
	select logid, logpwd, authority, enabled
	 from logininfo where logid=#{value}
</select>

<select id="selectIdCheck" parameterType="String" resultType="_int">
	select count(logid) from logininfo where logid = #{value}
</select>
	
<select id="selectEmailCheck" parameterType="String" resultType="_int">
	select count(email) from logininfo where email = #{value}
</select>

<insert id="insertLoginUserId" parameterType="LoginInfo">
	insert into logininfo values(#{logid},#{logpwd},#{email},#{authority},1,'정상',null,null)
</insert>

<insert id="insertLoginConsId" parameterType="LoginInfo">
	insert into logininfo values(#{logid},#{logpwd},#{email},#{authority},0,'대기',null,null)
</insert>

<select id = "selectMemberState" parameterType="string" resultType="LoginMemberState">
	select logid,memberstate, withdrawdate, withdrawcause, stoptarget, stopcause, stopstartdate, stopfinishdate, stopterm
	from(select rownum, logid,memberstate, withdrawdate, withdrawcause, stoptarget, stopcause, stopstartdate, stopfinishdate, stopterm
         from (select *
			   from logininfo
			   left outer join loginstop using(logid)
			   where logid=#{value}
			   order by stopno desc))
	where rownum =1
</select>

<update id="updateMemberStop">
	update loginstop set stopremove = '날짜 지남'
	 <![CDATA[
	where STOPFINISHDATE < sysdate and stopremove is null
	]]>
</update>

<delete id="deleteMember">
	delete from logininfo 
 	<![CDATA[
 	where withdrawdate+90< sysdate
	 ]]>
</delete>

<select id="selectFindUserId" parameterType="InteUser" resultType="string">
 	select nvl(min(userid),'없음')
    from inteuser
    where useremail=#{useremail} and username=#{username}
</select>

<select id="selectFindConsId" parameterType="Constructors" resultType="string">
 	select nvl(min(consid),'없음')
    from constructors
    where consemail=#{consemail} and consname=#{consname}
</select>

<select id="selectFindUserPwd" parameterType="LoginInfo" resultType="int">
	select count(logid)
	from logininfo
	where logid=#{logid} and email=#{email}
</select>

<update id="updateNewLogPwd" parameterType="LoginInfo">
	update logininfo set logpwd=#{logpwd} where logid = #{logid}

</update>

	<select id="selectStopState" parameterType="string" resultType="LoginMemberState">
		select stoptarget, stopcause, stopstartdate, stopfinishdate, stopterm, stopremove
		from loginstop
		where logid = #{value}
	</select>
	
	<insert id="insertLetStop" parameterType="LoginMemberState">
		insert into loginstop values(loginstop_seq.nextval,#{stoptarget}, #{stopcause}, sysdate,
		<if test="dmy.equals('day')">sysdate+#{sdate},#{sdate}||'일',</if>
		<if test="dmy.equals('month')">add_months(sysdate,#{sdate}),#{sdate}||'개월',</if>
		<if test="dmy.equals('year')">add_months(sysdate,#{sdate}*12),#{sdate}||'년',</if>
		null,#{logid})
	</insert>
	
	<select id="selectMaxStopNo" parameterType="LoginMemberState" resultType="int">
		select max(stopno)
		from loginstop
		where logid = #{logid}
	</select>
	
	<update id="updateStopRemove" parameterType="LoginMemberState">
		update loginstop set stopremove=#{stopremove}
		where stopno=#{stopno}
	</update>
	
	<update id="updateConsApproval" parameterType="string">
		update logininfo set enabled=1, memberstate='정상'
		where logid=#{value}
	</update>
	
	<delete id="deleteConsRefuse" parameterType="string">
		delete from logininfo where logid=#{value}
	</delete>
	
	<select id="selectMemberPwdCheck" parameterType="LoginInfo" resultType="int">
		select count(*) from logininfo where logid=#{logid} and logpwd=#{logpwd}
	</select>
	
	<update id="updateMemberPwd" parameterType="LoginInfo">
		update logininfo set logpwd=#{logpwd} 
		where logid=#{logid}
	</update>
	
	<update id="updateDeleteMember" parameterType="LoginMemberState">
		update logininfo set enabled=0, memberstate='탈퇴', withdrawdate=sysdate, withdrawcause=#{withdrawcause}
		where logid=#{logid}
	</update>	

</mapper>




