<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<!-- parameterType 객체 전송을 위해  씀 
			resultType 은 mybatis-con-->
	
	<!-- 페이징처리 -->
	<select id="getListCount" parameterType="_int"  resultType="_int">
	select count(*) from notice
	</select>
	
	<!-- 게시물 전체보기 -->
	<select id="selectList" resultType="Notice" parameterType="com.c4.intepark.notice.model.vo.NoticePage">
		<![CDATA[
					select*
					from (select rownum rnum, noticeno, noticetitle, noticewriter, noticecontent,
						 noticeoriginalfilename, noticerenamefilename, noticedate, noticecount, writername 
						 from notice	     					
					) where rnum >= #{currentPage} and rnum <= #{limit}
					
		]]>
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="selectOne" parameterType="_int" resultType="Notice">
		select * from notice where noticeno = #{value}
	</select>
	
	<update id="updateReadCount" parameterType="_int">
		update notice set noticecount = noticecount + 1 where noticeno = #{value}
	</update>
	
	<!-- 게시글 작성하기 -->
	<insert id="insertNotice" parameterType="Notice" >
		insert into notice 
		values ((select max(noticeno) from notice) + 1, 
				#{noticetitle}, #{noticecontent}, default, default, null, 
				<if test="noticeoriginalfilename != null">
				#{noticeoriginalfilename, jdbcType=VARCHAR}, #{noticerenamefilename, jdbcType=VARCHAR}
				</if>
				<if test="noticeoriginalfilename == null">
				null, null
				</if>
				,#{writername}
				)
	</insert>
	
	<!-- 게시글 수정하기 -->
	<update id="updateNotice" parameterType="Notice">
		update notice set noticetitle = #{noticetitle},
						 noticecontent = #{noticecontent},
						 noticeoriginalfilename= #{noticeoriginalfilename, jdbcType=VARCHAR}
						 where noticeno = ${noticeno}
		
	</update>
	
	
	
	
	
	
	
	<!-- 게시글 삭제하기 -->
	<delete id="deleteNotice" parameterType="_int">
		delete from notice where noticeno = #{value}
	</delete>
	
	
	
	
	
	
	
<!-- 	<select id="getlistCount" resultType="_int">
		select noticecount(*) from notice
	</select>
	
	<select id="searchTitle" parameterType="string" resultMap="resultNotice">
		select * from notice 
		where noticetitle like '%' || #{value} || '%'  
		order by noticeno desc
	</select> -->
	
	<!-- <select id="searchWriter" parameterType="string" resultMap="resultNotice">
		select * from notice 
		where noticewriter like '%' || #{value} || '%' 
		order by noticeno desc
	</select>
	
	
	<insert id="insertNotice" parameterType="Notice" >
		insert into notice 
		values ((select max(noticeno) from notice) + 1, 
				#{noticeTitle}, default, #{noticeWriter}, 
				#{noticeContent}
				<if test="originalFilePath != null">
				, #{originalFilePath}, #{renameFilePath}
				</if>
				<if test="originalFilePath == null">
				, null, null
				</if>
				)
	</insert>
	
	<delete id="deleteNotice" parameterType="_int">
		delete from notice where noticeno = #{value}
	</delete>
	
	<update id="updateNotice" parameterType="Notice" >
		update notice 
		set noticetitle = #{noticeTitle}, 
			noticecontent = #{noticeContent}
			<if test="originalFilePath != null">
			,
		    original_filepath = #{originalFilePath}, 
		    rename_filepath = #{renameFilePath} 
		    </if>
		where noticeno = #{noticeNo}							
	</update> -->
	 

































</mapper>