<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portfolioMapper">

	<select id="selectList" resultType="Constructors">
		select consid, companyname, consarea, consintroduction, profilerenameimg
		from Constructors
	</select>
	
	<select id="selectAllReview" resultType="RvAvg">
		select Round(avg(rvavg),1) as rvavg, Count(rvavg) as count, consid
		from review
		group by consid
	</select>
	
	<select id="selectPfPhotoList" resultType="PortfolioFile">
		select a.PFPHOTONUM, a.PFORIGINALNAME, a.PFRENAME, a.PFCOMENT, a.PFNUM, b.CONSID
		from
		(select *
				from portfoliofile
				where pfnum in (
				    select max(pfnum) pfnum 
				    from portfolio 
				    group by consid, pfrename
				    )) a  right join CONSTRUCTORS b on a.consid = b.consid
	</select>
	
	<select id="selectOneCons" parameterType="string" resultType="Constructors">
		select *
		from Constructors
    	where consid = #{consid}
	</select>
	
	<select id="selectReview" parameterType="string" resultType="RvAvg">
		select Round(avg(rvavg), 1) as rvavg, Count(rvavg) as count
		from review
		where consid = #{consid}
	</select>
	
	<select id="selectConsReviewList" parameterType="string" resultType="Review">
		select rvnum,rvkind,rvprice,rvquality,rvprofessional,rvresponsible,rvavg,
       			rvperiod,rvregion,rvbuildingtype,rvarea,rvspacious,rvprice2,rvcritique,
       			to_char(to_date(rvdate,'yyyy/mm/dd'), 'rryy/mm/dd') as rvdate,consid,userid
		from review
		where consid = #{consid}
		order by rvnum desc
	</select>
	
	<select id="selectConsRvFileList" parameterType="string" resultType="ReviewFile">
		select *
		from reviewfile
		where consid = #{consid}
	</select>
	
	<update id="updateIntroduction" parameterType="Constructors">
		update constructors set pfintroduction = #{pfintroduction} where consid = #{consid}
	</update>
	
	<select id="selectPfOne" parameterType="int" resultType="PortfolioFile">
		select *
		from portfoliofile
		where PFNUM = #{pfnum}
		order by PFPHOTONUM asc
	</select>
	
	<select id="selectPfOneList" parameterType="string" resultType="PortfolioView">
		select * from (select a.pfnum, a.consid, min(nvl(a.pfrename, 0)) pfrename, min(nvl(b.pftitle, 0)) pftitle
		 from portfoliofile a
		 join portfolio b on a.pfnum = b.pfnum
		 group by a.pfnum, a.consid)
		 where consid = #{consid}
		 order by pfnum desc
	</select>
	
	<select id="selectPfRename" parameterType="int" resultType="PortfolioFile">
		select pfrename
		from portfoliofile
		where pfnum = #{pfnum}
	</select>
	
	<delete id="deletePortfolio" parameterType="int">
		delete from portfolio
		where pfnum = #{pfnum}
	</delete>
	
	<insert id="insertPF" parameterType="Portfolio">
		insert into portfolio values (PFNUM_SEQ.nextval, #{pftitle}, #{consid})
	</insert>
	
	<select id="selectpfnum" parameterType="string" resultType="int">
		select max (pfnum)
		from portfolio
    	where consid = #{consid}
	</select>
	
	<insert id="insertPfFile" parameterType="PortfolioFile">
		insert into portfoliofile values (PFPHOTONUM_SEQ.nextval, #{pforiginalname}, #{pfrename}, #{pfcoment}, #{pfnum}, #{consid})
	</insert>
	
	
	
	
	
	
		
</mapper>








