<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portfolioMapper">

	<select id="selectList" resultType="Constructors">
		select consid, companyname, consarea, consintroduction, profilerenameimg
		from Constructors
	</select>
	
	<select id="selectAllReview" resultType="RvAvg">
		select Round(avg(rvavg),1) as rvavg, Count(rvavg) as count, consid
		from review
		group by consid
	</select>
	
	<select id="selectPfPhotoList" resultType="PortfolioFile">
		select a.PFPHOTONUM, a.PFORIGINALNAME, a.PFRENAME, a.PFCOMENT, a.PFNUM, b.CONSID
		from
		(select *
				from portfoliofile
				where pfnum in (
				    select max(pfnum) pfnum 
				    from portfolio 
				    group by consid, pfrename
				    )) a  right join CONSTRUCTORS b on a.consid = b.consid
	</select>
	
	<select id="selectOneCons" parameterType="string" resultType="Constructors">
		select *
		from Constructors
    	where consid = #{consid}
	</select>
	
	<select id="selectReview" parameterType="string" resultType="RvAvg">
		select Round(avg(rvavg), 1) as rvavg, Count(rvavg) as count
		from review
		where consid = #{consid}
	</select>
	
	<select id="selectConsReviewList" parameterType="string" resultType="Review">
		select rvnum,rvkind,rvprice,rvquality,rvprofessional,rvresponsible,rvavg,
       			rvperiod,rvregion,rvbuildingtype,rvarea,rvspacious,rvprice2,rvcritique,
       			to_char(to_date(rvdate,'yyyy/mm/dd'), 'rryy/mm/dd') as rvdate,consid,userid
		from review
		where consid = #{consid}
		order by rvnum desc
	</select>
	
	<select id="selectConsRvFileList" parameterType="string" resultType="ReviewFile">
		select *
		from reviewfile
		where consid = #{consid}
	</select>
	
	<update id="updateIntroduction" parameterType="Constructors">
		update constructors set pfintroduction = #{pfintroduction} where consid = #{consid}
	</update>
	
	<select id="selectPfOne" parameterType="string" resultType="PortfolioFile">
		select *
		from portfoliofile
		where PFNUM = #{pfnum}
		order by PFPHOTONUM desc
	</select>
	
	<select id="selectPfOneList" parameterType="string" resultType="PortfolioView">
		select * from (select a.pfnum, a.consid, max(nvl(a.pfrename, 0)) pfrename, max(nvl(b.pftitle, 0)) pftitle
		 from portfoliofile a
		 join portfolio b on a.pfnum = b.pfnum
		 group by a.pfnum, a.consid)
		 where consid = #{consid}
		 order by pfnum desc
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- select pfnum_seq.CURRVAL from dual; resultType="int" -->

	<!-- <select id="loginCheck" parameterType="Member" resultType="Member">
		select * from member where userid = #{ userid } and userpwd = #{userpwd}
	</select>
	
	<select id="selectOne" parameterType="string" resultType="Member">
		select * from member where userid = #{value}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member values (#{userid}, #{userpwd}, #{username}, #{gender}, 
		#{age}, #{phone}, #{email}, #{hobby}, #{etc}, default, sysdate)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update member 
		set userpwd = #{userpwd}, email = #{email}, phone = #{phone},
			etc = #{etc}, hobby = #{hobby}, lastmodified = sysdate 
		where userid = #{userid}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete from member where userid = #{value}
	</delete>

	<select id="selectCheckId" parameterType="String" resultType="_int">
		select count(userid) from member where userid = #{value}
	</select>
	
	<select id="selectDupId" parameterType="String" resultType="_int">
		select count(userid) from member where userid = #{value}
	</select> -->
	
</mapper>








