<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="requestMapper">
	
	<select id="selectRequestForm" parameterType="string" resultType="Constructors">
		select consid, companyname, consarea, profilerenameimg
		from Constructors
    	where consid = #{consid}
	</select>
	
	<insert id="insertRequest" parameterType="Request">
		insert into request values (reqnum_seq.nextval, #{reqarea}, #{reqregion}, #{reqbudget}, #{reqname}, #{reqphone}, default, #{consid}, #{userid})
	</insert>
	
	<select id="selectRequestList" parameterType="string" resultType="Request">
		select reqarea,reqregion,reqbudget,reqname,reqphone,to_char(to_date(reqdate,'yyyy/mm/dd'), 'rryy/mm/dd') as reqdate,
				consid,userid,row_number()over (order by reqnum asc) reqnum
		from request
		where consid = #{consid}
		order by reqnum desc
	</select>
	
	<select id="selectMyReqList" parameterType="string" resultType="Request">
		select reqarea,reqregion,reqbudget,reqname,reqphone,to_char(to_date(reqdate,'yyyy/mm/dd'), 'rryy/mm/dd') as reqdate,
				consid,userid,row_number()over (order by reqnum asc) reqnum
		from request
		where userid = #{userid}
		order by reqnum desc
	</select>
	
	
	<!-- <select id="selectOne" parameterType="string" resultType="Member">
		select * from member where userid = #{value}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member values (#{userid}, #{userpwd}, #{username}, #{gender}, 
		#{age}, #{phone}, #{email}, #{hobby}, #{etc}, default, sysdate)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update member 
		set userpwd = #{userpwd}, email = #{email}, phone = #{phone},
			etc = #{etc}, hobby = #{hobby}, lastmodified = sysdate 
		where userid = #{userid}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete from member where userid = #{value}
	</delete>

	<select id="selectCheckId" parameterType="String" resultType="_int">
		select count(userid) from member where userid = #{value}
	</select>
	
	<select id="selectDupId" parameterType="String" resultType="_int">
		select count(userid) from member where userid = #{value}
	</select> -->
	
</mapper>








