<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<select id="selectReviewForm" parameterType="string" resultType="Constructors">
		select consid, companyname, profilerenameimg
		from Constructors
    	where consid = #{consid}
	</select>
	
	<insert id="insertReview" parameterType="Review">
		insert into review values (rvnum_seq.nextval, #{rvkind}, #{rvprice}, #{rvquality}, 
		#{rvprofessional}, #{rvresponsible}, #{rvavg}, #{rvperiod}, #{rvregion}, #{rvbuildingtype}, 
    	#{rvarea}, #{rvspacious}, #{rvprice2}, #{rvcritique}, default, #{consid}, #{userid})
	</insert>
	
	<select id="selectrvnum" parameterType="string" resultType="int">
		select max (rvnum)
		from review
    	where userid = #{userid}
	</select>
	
	<insert id="insertRvfile" parameterType="ReviewFile">
		insert into reviewfile values (RVPHOTONUM_SEQ.nextval, #{rvoriginalname}, #{rvrename}, #{rvnum}, #{consid})
	</insert>
	
	<select id="selectRvRename" parameterType="int" resultType="ReviewFile">
		select rvrename
		from reviewfile
		where rvnum = #{rvnum}
	</select>
	
	<delete id="deleteReview" parameterType="int">
		delete from review
		where rvnum = #{rvnum}
	</delete>
	
	
	
	
	
	
	
	
	
	
	<!-- <select id="selectList" resultType="Constructors">
		select consid, companyname, consarea, consintroduction, profilerenameimg
		from Constructors
	</select>
	
	<select id="selectOneCons" parameterType="string" resultType="Constructors">
		select *
		from Constructors
    	where consid = #{consid}
	</select> -->
	
	
	
	

	
	
</mapper>








