<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.c4.intepark.constructors.model.vo.Constructors" alias="Constructors"/>
		<typeAlias type="com.c4.intepark.inteuser.model.vo.InteUser" alias="InteUser" />
		<typeAlias type="com.c4.intepark.calendar.model.vo.Calendar" alias="Calendar" />
  		<typeAlias type="com.c4.intepark.auction.model.vo.Auction" alias="Auction" />
  		<typeAlias type="com.c4.intepark.notice.model.vo.Notice" alias="Notice"/>
  		<typeAlias type="com.c4.intepark.shop.goods.model.vo.Goods" alias="Goods"/>
  		<typeAlias type="com.c4.intepark.portfolio.model.vo.Portfolio" alias="Portfolio"/>
  		<typeAlias type="com.c4.intepark.portfolio.model.vo.PortfolioFile" alias="PortfolioFile"/>
  		<typeAlias type="com.c4.intepark.request.model.vo.Request" alias="Request"/>
  		<typeAlias type="com.c4.intepark.review.model.vo.Review" alias="Review"/>
  		<typeAlias type="com.c4.intepark.review.model.vo.ReviewFile" alias="ReviewFile"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/constructors-mapper.xml"/>
		<mapper resource="mappers/inteUser-mapper.xml" />
		<mapper resource="mappers/portfolio-Mapper.xml" />
		<mapper resource="mappers/calendar-mapper.xml" />
		<mapper resource="mappers/auction-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/goods-mapper.xml"/>
		<mapper resource="mappers/request-Mapper.xml"/>
		<mapper resource="mappers/review-Mapper.xml"/>
	</mappers>
</configuration>
